<div class="row mt-5">
  <% include ('./partials/messages.ejs')%>

  <div class="col-md-6 m-auto">
    <form action="/cars/search" method="post">
    <input type="datetime-local" name="start" min= <%= date %> value=<%=ds%>>data rozpoczęcia<br>
    <input type="datetime-local" name="end" min= <%= date %> value=<%=de%>>data zakończenia<br>
      <button type="submit" class="btn btn-primary btn-lg">Szukaj!</button>
    </form>
    <br><br>

      <ul style="list-style: none;">
        <% cars.forEach(function(value) { %>
          <li>
            <!---<img src="images/<%=value.pic_1%>"/>--->


            <!-- Carousel wrapper -->
            <div
                    id="carouselBasicExample"
                    class="carousel slide carousel-fade"
                    data-mdb-ride="carousel"
            >
              <!-- Indicators -->
              <div class="carousel-indicators">
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                ></button>
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="1"
                        aria-label="Slide 2"
                ></button>
                <button
                        type="button"
                        data-mdb-target="#carouselBasicExample"
                        data-mdb-slide-to="2"
                        aria-label="Slide 3"
                ></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <img
                          src="images/<%=value.pic_1%>"
                          class="d-block w-100"
                          alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">

                    <p>
                      <%=value.mark%> <%=value.model%>

                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img
                          src="images/<%=value.pic_1%>"
                          class="d-block w-100"
                          alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">

                    <p>
                      <%=value.mark%> <%=value.model%>
                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img
                          src="images/<%=value.pic_2%>"
                          class="d-block w-100"
                          alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <p>
                      <%=value.mark%> <%=value.model%>
                    </p>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button
                      class="carousel-control-prev"
                      type="button"
                      data-mdb-target="#carouselBasicExample"
                      data-mdb-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                      class="carousel-control-next"
                      type="button"
                      data-mdb-target="#carouselBasicExample"
                      data-mdb-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel wrapper -->


            <form action="/cars/get/<%=value.id%>/<%=ds%>/<%=de%>/<%=len%>" method="get">
              <input type="hidden" name="len" value="<%=len%>">
            <%if(user){%>
              <button type="submit" class="btn btn-primary btn-lg">Rezerwuj</button>
              <% var mul= len * value.price %>
              Cena: <%=mul%>
              <%}else{%>
                  <button type="button" class="btn btn-secondary btn-lg" disabled>Zaloguj się aby wynająć!</button>
              <%}%>
            </form>
          </li>
        <% })%>
      </ul>
  </div>
</div>
